body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #73d8d3;
  font-family: 'Quantico', monospace;
}

.Message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  padding: 10px;
  border-radius: 0;
}

.Stats {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-around;
}

.Stats p {
  margin: 10px 20px;
}


#winmsg {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.background {
  background: grey;
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.pit {
  background: darkgrey;
}

.enemy1 {
  background: red;
  border-radius: 100%
}

.enemy2,
.enemy3 {
  background: red;
  border-radius: 100%
}

.oppositeEnemy1,
.oppositeEnemy2,
.oppositeEnemy3 {
  background: purple;
  border-radius: 100%
}

.wall {
  background: black;
}

.actor {
  position: absolute;
}

.exit {
  background: green;
}

.player,
.clone {
  background: blue;
  border-radius: 100%
}

.game {
  display: block;
  overflow: hidden;
  position: relative;
}

.win {
  font-size: 100px;
  padding: 0;
  margin: 0;
  border: thin;
}
